/* Write your CSS code here */
.listItemtop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postCount {
  font-weight: bold;
  font-size: 20px;
}
.publishedDate {
  margin-right: 15px;
}
.description {
  color: #9aa5b1;
}
